# Directories
**bin/
**bin-int/

# Files
*.user
*imgui.ini

# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

#Xcode
*.pbxproj
*.DS_Store
*.plist
*.xcuserstate
*.xcworkspacedata
*.xcbkptlist
*.xcsettings
